<h1>New Category</h1>
<%= form_with model: @category, url: admin_categories_path, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Create Category", class: "btn btn-primary" %>
  </div>
<% end %>
